<plugin>
	<nom>Spip Tweets</nom>
	<auteur> BobCaTT (bobcatt CHEZ menfin POINT net)
_ &#169; 2011 - [@aureq->http://twitter.com/aureq]
	</auteur>
	<version>2.0.1</version>
	<etat>stable</etat>

	<description>Plugin envoyant des notifications vers l'API twitter.com. Permet ainsi a tout le monde de suivre l'actualite d'un site. [Configuration->./?exec=spiptweets&interface=config]
_ Vous devez inclure #SPIP_CRON dans vos squelettes pour que la crontab soit active et par la meme, les notifications twitter.
_ N&#233;c&#233;ssite SPIP 2.1.0+
_ Ce plugin est le successeur de <strong>Spip Loves Twitter</strong> et inclus le support OAuth requis par [twitter.com->http://twitter.com]
	</description>
	<licence> : D&#233;tails complets dans LICENCE_fr.TXT &copy; 2008-2011</licence>
	<necessite id="SPIP" version="[2.1.0;]" />

	<icon>images/spiptweets.png</icon>

	<prefix>Spiptweets</prefix>

	<bouton id="spiptweets" parent="naviguer">
		<icone>images/spiptweets.png</icone>
		<titre>spiptweets:titre</titre>	
		<url>spiptweets</url>	
	</bouton> 

	<bouton id="spiptweetsconfig" parent="configuration">
		<icone>images/spiptweets.png</icone>
		<titre>spiptweets:titre_config</titre>	
		<url>spiptweets</url>	
		<args>interface=config</args>
	</bouton> 
</plugin>
